body{
	font-family: 'Helvetica', sans-serif;
	padding: 0;
	margin: 0;
}

.contenedor{
	display: flex;
	max-width: 100%;
	height: 80vh;
	background-image: url(images/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	opacity: 0.95;
}
.contenedor .wrap{
	max-width: 1000px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
}
.contenedor .wrap .box{
	flex-basis: 50%;
	color: rgb(255, 255, 255);
	text-align: left;
	align-self: center;
}
.contenedor .wrap .box span{
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 300;
	
}
.contenedor .wrap .box h1{
	font-size: 52px;
	line-height: .9;
	padding-bottom: 10px;
	
}
.contenedor .wrap .box p{
	font-size: 20px;
	line-height: 1.2;
}
.contenedor .wrap .box .botones{
	display: flex;
	margin-top: 30px;
	flex-flow: row wrap;
}
.contenedor .wrap .box .botones .btn1{
	flex-basis: 30%;
	border: solid 2px;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	margin-right: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.contenedor .wrap .box .botones .btn2{
	flex-basis: 30%;
	background-color: #fff;	
	border: solid 2px;
	border-radius: 20px;
	padding: 10px 30px 10px 30px;
	text-align: center;
	text-decoration: none;
	color: #000;
}